# Configuration for our custom widget

<connectivity>
 ConnectionType {{ connectionType }}
</connectivity>

<Username>
 Username {{ userName }}
</Username>

<Password>
 Password {{ passWord }}
</Password>

<systeminfo>
 DistributionType {{ ansible_os_family }}
</systeminfo>

